<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402799267483-flof8hfbqghennnovn3kosv7rkqdu93s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402799267483-flof8hfbqghennnovn3kosv7rkqdu93s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>402799267483-rirl28e2pqdmso77mcscpvmc656im2em.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8phfkA_wpoR5kvGa2Sj4a8lXff8Urm70</string>
	<key>GCM_SENDER_ID</key>
	<string>402799267483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.dpannvelo</string>
	<key>PROJECT_ID</key>
	<string>dpannvelo</string>
	<key>STORAGE_BUCKET</key>
	<string>dpannvelo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402799267483:ios:46ac4f3a8e2bcb6277003e</string>
	<key>DATABASE_URL</key>
	<string>https://dpannvelo-default-rtdb.firebaseio.com</string>
</dict>
</plist>